@import mixins
@import media
@import sprites
@import normalize

$font-family: Montserrat


.menu
	justify-content: space-between
	&-carts
		display: flex
		justify-content: center
		&__item
			width: 200px
			height: 200px
			margin: 20px
			outline: 1px solid gray
