/*   Author:  Pit Orel
 *   Website: https://vk.com/html_css_verstka_saitov
 *   Github:  https://github.com/pit6262
 *   Skype:   hostings1
 *
 */
/* NORMALIZE */
/* ================================================ */
html, body, div, span, applet, main, object, iframe, h1, h2, h3, h4, h5, h6, p, blockquote, pre, a, abbr, acronym, address, big, cite, code, del, dfn, em, img, ins, kbd, q, s, samp, small, strike, strong, sub, sup, tt, var, b, u, i, center, dl, dt, dd, ol, ul, li, fieldset, form, label, legend, table, caption, tbody, tfoot, thead, tr, th, td, article, aside, canvas, details, embed, figure, figcaption, footer, header, hgroup, menu, nav, output, ruby, section, summary, time, mark, audio, video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%; }

/* HTML5 display-role reset for older browsers */
article, aside, details, main, figcaption, figure, footer, header, hgroup, menu, nav, section {
  display: block; }

body {
  margin: 0px;
  padding: 0px;
  font-family: Montserrat;
  line-height: 1;
  background-color: #ffffff;
  height: 100%;
  position: relative;
  font-size: 14px; }

blockquote, q {
  quotes: none; }

blockquote:before, blockquote:after {
  content: "";
  content: none; }

q:before, q:after {
  content: "";
  content: none; }

table {
  border-collapse: collapse;
  border-width: 0px;
  padding: 0px;
  margin: 0px; }

html {
  height: 100%;
  -webkit-text-size-adjust: none;
  -ms-text-size-adjust: none; }

input, textarea {
  color: #333;
  outline: none;
  border-radius: 0;
  -moz-border-radius: 0;
  -webkit-border-radius: 0;
  -webkit-appearance: none; }

input[type="button"], input[type="submit"] {
  cursor: pointer;
  -webkit-appearance: none;
  outline: none; }

input[type="search"] {
  -webkit-appearance: none; }

::-ms-clear {
  width: 0;
  height: 0; }

button {
  cursor: pointer;
  -webkit-appearance: none;
  outline: none; }

td, form {
  margin: 0px;
  padding: 0px; }

a {
  color: #000100;
  transition: all 0.3s linear;
  text-decoration: none;
  outline: none;
  -webkit-tap-highlight-color: transparent;
  -webkit-tap-highlight-color: transparent; }

* {
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box; }
  *:before, *:after {
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box; }

.clearfix:before, .clearfix:after {
  content: " ";
  display: table; }

.clearfix:after {
  clear: both; }

.container {
  width: 1240px;
  margin: 0 auto; }

body {
  /*background-color: #e0c9aa */
  background: #ddd;
  background: url(../img/background.jpg) no-repeat fixed #ddd;
  background-size: 100%;
  background-attachment: fixed;
  z-index: -999; }

.background {
  position: absolute;
  top: 30px;
  max-width: 100%;
  max-height: 100%; }

.logo {
  display: flex;
  justify-content: center;
  margin-bottom: 75px;
  background: #000; }
  .logo-img {
    margin-top: 5px;
    opacity: 80%; }

#header {
  position: absolute;
  top: 83px;
  left: 0;
  right: 0;
  z-index: 99;
  width: 100%;
  display: flex;
  justify-content: center;
  background: #000;
  margin-bottom: 20px;
  border-bottom: 1px solid #fff; }

#header.default {
  position: fixed;
  top: 0; }

.header-menu {
  display: flex;
  align-items: center;
  width: 1200px;
  height: 65px;
  justify-content: center; }
  .header-menu__link {
    color: #d5a353;
    font-size: 14px;
    margin: 10px; }
  .header-menu__link:hover {
    color: #f00; }

.line {
  color: #666; }

.red {
  display: inline;
  color: #f00; }

.attention {
  color: #f00; }

.attention:hover {
  color: #fff; }

.title {
  display: flex;
  justify-content: center;
  margin: 20px 0; }
  .title-first {
    display: flex;
    justify-content: center;
    margin: 85px 0 15px; }
  .title-item {
    display: flex;
    font-size: 30px;
    font-weight: bold;
    color: #fff;
    text-transform: uppercase;
    width: 1200px;
    height: 60px;
    justify-content: center;
    align-items: center;
    background: #a5a5a5;
    border: 2px solid #fff;
    border-radius: 5px; }

.menu {
  justify-content: space-between; }
  .menu-carts {
    width: 1240px;
    margin: 0 auto;
    display: flex;
    flex-wrap: wrap;
    justify-content: center; }
    .menu-carts__item {
      width: 270px;
      height: 445px;
      margin: 20px;
      border-radius: 5px;
      background: #fff;
      box-shadow: 0 0 15px rgba(0, 0, 0, 0.5); }
    .menu-carts__title {
      display: flex;
      font-size: 18px;
      font-weight: bold;
      color: #fff;
      height: 50px;
      padding: 5px;
      justify-content: center;
      align-items: center;
      text-align: center;
      text-transform: uppercase;
      background: #d5a353; }
    .menu-carts__size {
      font-size: 16px;
      font-weight: bold;
      text-align: center;
      padding-top: 10px; }
    .menu-carts__description {
      font-size: 13px;
      color: #28292e;
      line-height: 15px;
      text-align: justify;
      padding: 10px 20px; }

.menu-carts__item.mini {
  height: 288px; }

.menu-carts__title.mini {
  font-size: 15px; }

.cart-img {
  width: 100%;
  height: 200px;
  overflow: hidden;
  border-radius: 5px 5px 0 0; }
  .cart-img__item {
    width: 100%; }

.bar {
  margin: 5px 20px;
  border-radius: 5px;
  background: #fff;
  padding-bottom: 15px;
  width: 1200px;
  box-shadow: 0 0 15px rgba(0, 0, 0, 0.5); }
  .bar-title {
    display: flex;
    justify-content: center;
    font-size: 22px;
    font-weight: bold;
    color: #fff;
    padding: 10px 0;
    border-radius: 5px 5px 0 0;
    background: #999; }
    .bar-title__sub {
      font-size: 18px;
      padding: 5px 30px;
      color: #555;
      background: #cbcbcb;
      border-top: 1px solid #fff; }
  .bar-subject {
    display: flex;
    justify-content: space-between;
    font-size: 18px;
    color: #333;
    margin: 20px 30px;
    border-bottom: 1px solid #ddd;
    line-height: 28px; }
    .bar-subject__rus {
      font-weight: bold;
      margin-right: 10px; }
    .bar-subject__eng {
      font-weight: normal; }
    .bar-subject__price {
      font-weight: bold;
      align-items: flex-start;
      margin: 0 5px; }
      .bar-subject__price--sub {
        font-size: 16px;
        font-weight: 500;
        color: #555; }

.bar-subject__price {
  display: flex;
  justify-content: flex-end;
  align-content: flex-start;
  flex-wrap: wrap;
  width: 63px;
  margin-bottom: 5px; }

.bar-subject__price--sub {
  display: flex;
  justify-content: flex-end;
  width: 62px; }

.price-variable {
  display: flex;
  align-items: flex-end; }

.title-item.for_bar {
  background: #d5a353; }

.italic {
  display: flex;
  font-family: "times new roman";
  font-size: 16px;
  color: #666;
  font-style: italic;
  font-weight: lighter;
  line-height: 16px;
  margin-bottom: 5px; }

.logo-img__2 {
  visibility: hidden;
  width: 0;
  height: 0; }

.menu__btn {
  visibility: hidden;
  width: 0;
  height: 0; }

.stock {
  width: 1200px;
  margin-top: 15px;
  background: #000;
  margin: 20px;
  overflow: hidden;
  border-radius: 5px; }

.stock:first-child {
  margin-top: 20px; }

.stock {
  width: 580px;
  margin-top: 15px;
  background: #000;
  margin: 20px;
  overflow: hidden;
  border-radius: 5px;
  box-shadow: 0 0 15px rgba(0, 0, 0, 0.5); }

.stock:first-child {
  margin-top: 20px; }

.stock-img {
  height: 100%;
  width: 100%; }

.footer {
  display: block;
  height: 200px;
  border-top: 1px solid #fff;
  margin-top: 50px;
  background: #000; }

@media screen and (max-width: 1240px) {
  .title-item {
    width: 1140px; }

  .menu-carts {
    width: 100%; }
    .menu-carts__item {
      margin: 10px; }

  .bar {
    width: 870px; } }
@media screen and (max-width: 1024px) {
  .title-item {
    width: 870px; }

  .menu-carts__item {
    margin: 15px; }

  .bar {
    width: 950px; }

  .title-item.for_bar {
    width: 950px; }

  .stock {
    width: 870px; } }
@media screen and (max-width: 768px) {
  .header {
    display: none; }
    .header-menu {
      display: none; }

  .logo {
    height: 65px;
    margin-bottom: -55px; }
    .logo-img {
      display: none; }

  .logo-img__2 {
    visibility: visible;
    width: 50%;
    height: 50%;
    top: 16px;
    left: 23%;
    margin-top: 16px;
    z-index: 999; }

  #header {
    height: 65px;
    top: -85px; }

  .title {
    margin: 10px 0; }
    .title-first {
      margin: 70px 0 5px; }
    .title-item {
      width: 570px;
      height: 40px; }

  .menu__btn {
    visibility: visible; }

  .menu-carts {
    width: 100%; }

  .title-item.for_bar {
    width: 727px; }

  .bar {
    margin: 10px 20px; }

  .stock {
    width: 570px;
    margin-top: 15px;
    background: #000;
    overflow: hidden;
    border-radius: 5px; }

  .stock:first-child {
    margin-top: 20px; } }
@media screen and (max-width: 415px) {
  .title-item {
    width: 365px;
    font-size: 18px; }

  .menu-carts {
    width: 100%; }
    .menu-carts__item {
      width: 177px;
      margin: 5px;
      height: 395px; }
    .menu-carts__title {
      font-size: 12px;
      height: 35px; }
    .menu-carts__size {
      font-size: 12px; }
    .menu-carts__description {
      font-size: 12px;
      padding: 5px;
      text-align: left; }

  .menu-carts__item.mini {
    height: 195px; }

  .menu-carts__title.mini {
    font-size: 10px; }

  .cart-img {
    height: 131px; }

  .title-item.for_bar {
    width: 384px; }

  .bar {
    margin: 5px 15px; }
    .bar-title {
      font-size: 14px; }
      .bar-title__sub {
        font-size: 14px; }
    .bar-subject {
      font-size: 12px;
      margin: 20px 5px;
      line-height: 16px; }
      .bar-subject__eng {
        display: box; }
      .bar-subject__price {
        width: 38px; }
        .bar-subject__price--sub {
          font-size: 10px;
          margin: 0; }

  .italic {
    margin-top: 5px;
    font-size: 12px;
    line-height: 12px; }

  .stock {
    width: 365px;
    margin: 5px 0; } }
@media screen and (max-width: 375px) {
  .title-item.for_bar {
    width: 330px; }

  .dash {
    display: none; }

  .title-item.for_bar {
    width: 355px; }

  .bar {
    margin: 5px 10px; }

  .stock {
    width: 365px; } }
@media screen and (max-width: 360px) {
  .title-item {
    width: 350px; }

  .title-item.for_bar {
    width: 312px; }

  .menu-carts {
    width: 100%; }
    .menu-carts__item {
      width: 170px;
      height: 400px; }

  .cart-img {
    height: 126px; }

  .title-item.for_bar {
    width: 340px; }

  .bar {
    margin: 5px 10px; }

  .stock {
    width: 350px; } }
@media screen and (max-width: 320px) {
  .menu-carts {
    width: 100%; }
    .menu-carts__item {
      width: 305px;
      height: 400px; }
    .menu-carts__title {
      font-size: 14px;
      height: 35px; }
    .menu-carts__size {
      font-size: 12px; }
    .menu-carts__description {
      font-size: 12px;
      padding: 5px 10px;
      text-align: justify; }

  .menu-carts__item.mini {
    height: 265px; }

  .menu-carts__title.mini {
    font-size: 12px; }

  .cart-img {
    height: 212px; }

  .title-item {
    width: 305px; }

  .title-item.for_bar {
    width: 305px; }

  .bar {
    width: 305px;
    margin: 5px 5px; }

  .stock {
    width: 305px; } }
